mixin sidebar_menu_item(link,title,icon,active,visible)
	-
		var showValue;
		switch(visible){
			case "logedin":
				showValue="$ctrl.user.authenticated";
				break;
			case "logedin":
				showValue="!$ctrl.user.authenticated";
				break;
			default:
				showValue=false;
				break;
		}
	li(class=active?'active':'',ng-show=showValue)&attributes(attributes)
		a(href=link)
			i.fa(class!=icon)
			span= title

// sidebar: style can be found in sidebar.less
section.sidebar
	script(type="text/ng-template",id="tree_item_renderer.html")
		li(class=active?'active':'',ng-show=showValue)&attributes(attributes)
			a(href=link)
				i.fa(class!=icon)
				span= title
	// Sidebar user panel
	sidebar-info-panel
	// sidebar menu: : style can be found in sidebar.less
	ul.sidebar-menu
		li.header MAIN NAVIGATION
		// Home Page
		li(ng-repeat="item in $ctrl.items | filter:$ctrl.isVisible",ng-class="{active:$ctrl.isActive(item),treeview:$ctrl.hasChilds(item)}")
			a(href="{{item.path}}")
				i.fa(class="{{item.icon}}")
				span {{item.title}}
				span.pull-right-container(ng-if="$ctrl.hasChilds(item)")
					i.fa.fa-angle-left.pull-right
			ul.treeview-menu(ng-if="$ctrl.hasChilds(item)")
				li(ng-repeat="child in item.childs")
					a(href="{{child.path}}")
						i.fa(class="{{child.icon}}")
						span {{child.title}}
	// /.sidebar
